{% extends "layout.html" %}

{% block content %}
     <!-- home section start -->
    <section class="home-section layout-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-8 col-md-11">
                    <div class="home-main">
                        <div class="home-content">
                            <div>
                                <h1>Page 404</h1>
                                <h6>La page que vous rechercher n'existe pas</h6>
                                <h1>How <span class="typed"></span></h1>
                                <button onclick="document.location='submit-property.html'"
                                        type="button" class="btn btn-lg btn-gradient btn-pill color-2">Retour à la page d'accueil
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- home section end -->

{% endblock %}