<footer class="bg-dark py-7">
    <div class="container">
        <div class="row mx-auto">
            <div class="col-lg-7 mx-auto text-center">
                <ul class="nav justify-content-center text-primary-hover mt-3 mt-md-0">

                    <li class="nav-item">
                        <a class="nav-link p-2 text-white" href="#">Mention légales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2 text-white" href="#">Conditions Générales</a>
                    </li>
                   
                </ul>
                <div class="text-muted text-primary-hover mt-3">Copyrights ©2023 COVOITURAGE.SN</div>
            </div>
        </div>
    </div>
</footer>