{% extends "layout.html" %}

{% block content %}
<main>

    <!-- =======================
    Page Banner START -->
    <section class="pt-4 pt-md-5 pb-0 py-3">
        <div class="container pt-5">
            <div class="row">
                <div class="col-12 mx-auto text-center">
                    <h1 class="fs-2 mb-2">Publier votre trajet</h1>
                    <p class="mb-0">En tant que conducteur ou passager</p>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Page Banner END -->

    <!-- =======================
    Main content START -->
    <section>
        <div class="container pb-5">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <form class="vstack gap-2" method="POST" action="/new-annonce">
						{{ form.hidden_tag() }}
                        <!-- Owner Detail START -->
                        <div class="card border rounded-2 mb-0 border-radius-0 bg-light">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row g-3">
                                    <!-- car type -->
                                    <div class="col-md-6">
                                        <label class="form-label">Type de trajet *</label>
                                        {{ form.trip(class="form-control-") }}
                                    </div>
                                    <!-- car type -->
                                    <div class="col-md-6">
                                        <label class="form-label">Je suis *</label>
                                        <div class="d-flex">
                                            {{ form.profile(class="form-control-") }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Owner Detail END -->
                          <!-- Owner Detail START -->
                        <div class="card border border-radius-0 bg-light rounded-2">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <label class="form-label">Départ</label>
                                        {{ form.start_city }}
                                    </div>
                                    <!-- State -->
                                    <div class="col-md-6">
                                        <label class="form-label">Arrivée</label>
                                        {{ form.end_city }}
                                    </div>
                                    <!-- Contact number -->
                                    <div class="col-md-6">
                                        <label class="form-label">Date Départ</label>
                                        {{ form.start_date(class="form-control flatpickr flatpickr-input",
                                        id="start_date", lang="fr") }}
                                    </div>
                                    <!-- Email -->
                                    <div class="col-md-3">
                                        <label class="form-label">Heures</label>
                                        {{ form.start_hour(class="form-control form-select js-choice") }}
                                    </div>
                                    <div class="col-md-3">
                                        <label class="form-label">Minutes</label>
                                        {{ form.start_minute(class="form-control form-select js-choice") }}
                                    </div>
                                    <!-- Contact number -->
                                    <div class="col-md-6">
                                        <label class="form-label">Date Retour</label>
                                        {{ form.end_date(class="form-control flatpickr flatpickr-input",
                                        id="end_date", lang="fr") }}
                                    </div>
                                    <!-- Email -->
                                    <div class="col-md-3">
                                        <label class="form-label">Heures</label>
                                        {{ form.end_hour(class="form-control form-select js-choice") }}
                                    </div>
                                    <div class="col-md-3">
                                        <label class="form-label">Minutes</label>
                                        {{ form.end_minute(class="form-control form-select js-choice") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Owner Detail END -->
                        <!-- Owner Detail START -->
                        <div class="card border rounded-2 border-radius-0 bg-light">
                            <!-- Card body -->
                            <div class="card-body">
                                        <div class="d-block d-sm-flex justify-content-between text-sm-center">
                                           <!-- Item start -->
                                            <div class="item">
                                                 <label class="form-label">Nombre de Place</label>
                                                     <div class="hstack gap-1 align-items-center text-center">
                                                    <button type="button" class="btn btn-link adult-remove p-0 mb-0" id="decrease-seats"><i class="bi bi-dash-circle fs-5 fa-fw"></i></button>
                                                    <h5 class="guest-selector-count mb-0 adults">{{ form.seats(id="seats", class="price", value=1, required=true) }}</h5>
                                                    <button type="button" class="btn btn-link adult-add p-0 mb-0" id="increase-seats"><i class="bi bi-plus-circle fs-5 fa-fw"></i></button>
                                                </div>
                                            </div>
                                            <!-- end Item -->
                                            <!-- Item start -->
                                            <div class="item">
                                                 <label class="form-label">Nombre de Bagage</label>
                                                     <div class="hstack gap-1 align-items-center text-center">
                                                    <button type="button" class="btn btn-link adult-remove p-0 mb-0" id="decrease-luggage"><i class="bi bi-dash-circle fs-5 fa-fw"></i></button>
                                                    <h5 class="guest-selector-count mb-0 adults">{{ form.luggage(id="luggage", class="price", value=1, required=true) }}</h5>
                                                    <button type="button" class="btn btn-link adult-add p-0 mb-0" id="increase-luggage"><i class="bi bi-plus-circle fs-5 fa-fw"></i></button>
                                                </div>
                                            </div>
                                            <!-- end Item -->
                                            <!-- Item start -->
                                            <div class="item">
                                                 <label class="form-label">Prix par place</label>
                                                     <div class="hstack gap-1 align-items-center text-center">
                                                    <button type="button" class="btn btn-link adult-remove p-0 mb-0" id="decrease-price"><i class="bi bi-dash-circle fs-5 fa-fw"></i></button>
                                                    <h5 class="guest-selector-count mb-0 adults">{{ form.price(id="price", class="price", value=500, required=true) }} FCFA</h5>
                                                    <button type="button" class="btn btn-link adult-add p-0 mb-0" id="increase-price"><i class="bi bi-plus-circle fs-5 fa-fw"></i></button>
                                                </div>
                                            </div>
                                            <!-- end Item -->
                                        </div>
                                    </div>
                                    <!-- Address -->
                        </div>
                        <!-- Owner Detail END -->
                         <!-- Owner Detail START -->
                        <div class="card border rounded-2 bg-light">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row g-3">
                                    <!-- Address -->
                                    <div class="col-12">
                                        <label class="form-label">Information concernant votre trajet</label>
                                        {{ form.description(class="form-control", id="description", rows="4") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Owner Detail END -->

                        <!-- Button -->
                        <div class="text-end">
                            {{ form.submit(class="btn btn-primary mb-0") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Main content END -->

</main>
{% endblock %}