{% extends "layout.html" %}

{% block content %}
<main>

<!-- =======================
Content START -->
<section class="pt-5">
	<div class="container py-5">
		<div class="row">

			<!-- Sidebar START -->
            {% include "partials/sidebar-admin.html" %}
			<!-- Sidebar END -->

			<!-- Main content START -->
			<div class="col-lg-8 col-xl-9">
                <div class="card border mb-0 border-radius-0 bg-light">
                    <!-- Card body -->
                    <div class="card-body">
                        <h2>Confirmer la suppression de l'annonce</h2>
                            <p>Êtes-vous sûr de vouloir supprimer cette annonce ?</p>

                            <!-- Affichez les détails de l'annonce ici -->
                            <p>Départ : {{ annonce.start_city }}</p>
                            <p>Arrivée : {{ annonce.end_city }}</p>

                            <form method="POST" action="/annonce/{{ annonce_id }}/annonce_delete">
                                <button type="submit">Confirmer la suppression</button>
                            </form>

                            <a href="/annonce/{{ annonce_id }}">Annuler</a>
                    </div>
                </div>
			</div>
			<!-- Main content END -->
		</div>
	</div>
</section>
<!-- =======================
Content END -->

</main>
{% endblock %}